extends ../../../../templates/adminnav/adminnav

block content

    h1.title
        span.fa.fa-users
        | &nbsp; Blood Stock
    table.table.is-fullwidth
        thead
            th Blood Component
            th A+
            th A-
            th B+
            th B-
            th AB+
            th AB-
            th O+
            th O-
            th Blood Service Fee  
            th Actions
        
        tbody
            each stocks in stock
                tr
                    th= stocks.strBLOODCOMPONENT_DESCRIPTION
                    th= stocks.intBLOODSTOCK_AP
                    th= stocks.intBLOODSTOCK_AN
                    th= stocks.intBLOODSTOCK_BP
                    th= stocks.intBLOODSTOCK_BN
                    th= stocks.intBLOODSTOCK_ABP
                    th= stocks.intBLOODSTOCK_ABN
                    th= stocks.intBLOODSTOCK_OP
                    th= stocks.intBLOODSTOCK_ON
                    th= stocks.dblBLOODSTOCK_PRICE
                    th
                        a(href=`/admin/users/bloodstock/${stocks.intBLOODSTOCK_ID}`): span.fa.fa-edit
                        | &nbsp;
                        