
extends ../../../templates/master

block body
    // I'm using Bulma's classes here.
    // Refer to this: http://bulma.io/documentation/layout/container/
    //- nav.navbar
    //-     div.navbar-brand
    //-         a.navbar-item(href="/") Users
        
    //-     div.navbar-menu
    //-         div.navbar-start
    //-             div.navbar-item.has-dropdown.is-hoverable
    //-                 a.navbar-link(href="/admin") Admin
    //-                 div.navbar-dropdown.is-right
    //-                     a.navbar-item(href="/admin/users") Users

    //-         div.navbar-end
    //-             div.navbar-item.has-dropdown.is-hoverable
    //-                 a.navbar-link: span.icon: i.fa.fa-user
    //-                 div.navbar-dropdown.is-right
    //-                     a.navbar-item(href="/settings") Settings
    //-                     a.navbar-item(href="/logout") Log-out
    script.
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        src="assets/js/tether.min.js"
        src="assets/js/chart.js"
        src="assets/js/tablesorter.min.js"
        src="assets/js/toolkit.js"
        src="assets/js/application.js"
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/tablesorter.min.js"></script>
    <script src="assets/js/toolkit.js"></script>
    <script src="assets/js/application.js"></script>
    link(rel="stylesheet" href="/assets/bulma/master.css")
    nav.navbar
        div.navbar-brand
            a.navbar-item(href="/") 
            <img src="/assets/yst.gif" width="20" height="20" class="d-inline-block align-top" alt="">You're Somebody's Type
        
        div.navbar-menu
            div.navbar-start
                div.navbar-item.has-dropdown.is-hoverable
                    a.navbar-link(href="/admin") Admin
                    div.navbar-dropdown.is-right
                        a.navbar-item(href="/admin/users") Users

            div.navbar-end
                div.navbar-item.has-dropdown.is-hoverable
                    a.navbar-link: span.icon: i.fa.fa-user
                    div.navbar-dropdown.is-right
                        a.navbar-item(href="/settings") Settings
                        a.navbar-item(href="/logout") Log-out

    div.container-fluid     
                                

    div.container
        //- This part right here is the dynamic content. Once you extend
        //- this template, you can place anything here.
        
        // This comment marks the dynamic content
        block content